azure-common
botocore>=1.19.0
boto3>=1.16.0
boto>=2.49.0
ansible
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
azure-mgmt-resource
azure-mgmt-web
msrest
msrestazure
azure-keyvault
azure-storage-common
azure-storage-blob
packaging
awxkit
jmespath
pywinrm
requests
pyvmomi
pyvim
